{
  "extends": [
    "eslint:recommended",
    "prettier",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "env": {
    "browser": true,
    "es2022": true
  },
  "ignorePatterns": [
    "dist/",
    "node_modules/",
    "typings/",
    "*.js"
  ]
}