:root {
  --notefer-background-color: #ffffff;
  --notefer-border-color: #cccccc;
  --notefer-transition-movement: 0.5s;
  --notefer-transition-interaction: 0.25s;
}

.notefer {
  margin: 16px;
  position: fixed;
  top: 0;
  right: 0;
}

.notefer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.notefer__unit {
  cursor: pointer;
  position: absolute;
  box-sizing: border-box;
  right: 0;
  background-color: var(--notefer-background-color);
  box-shadow: 0 0 4px var(--notefer-border-color);
  padding: 16px;
  border-radius: 6px;
  width: 260px;
  transform: translateX(0px);
  transition-property: transform, background-color;
  transition-duration:
    var(--notefer-transition-movement),
    var(--notefer-transition-interaction);
  transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1), linear;
  will-change: transform;
  font-family: sans-serif;
}

.notefer__unit--hovered {
  z-index: 5;
}

.notefer__unit:hover {
  background-color: #fbfbfb;
}

.notefer__title {
  margin: 0;
  font-size: 18px;
}

.notefer__text {
  margin: 4px 0 0 0;
  font-size: 14px;
}

@media (max-width: 600px) {
  .notefer {
    margin: 2.5vw;
  }

  .notefer__unit {
    width: 95vw;
  }
}

@media (prefers-reduced-motion) {
  :root {
    --notefer-transition-movement: 0s;
    --notefer-transition-interaction: 0s;
  }
}